.title{
  background-color: #abc69d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 1px 1px 1px 1px;
}
.mainTag{
  background-color: #9bb4c2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 1px 1px 1px 1px;
}
.simpleTag{
  background-color: #9bb4c2;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 1px 1px 1px 1px;
}


